# k8s/cluster-issuer.yaml
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Server thật của Let's Encrypt
    server: https://acme-v02.api.letsencrypt.org/directory
    # Thay bằng email thật của bạn để họ gửi mail nếu chứng chỉ hết hạn
    email: haitt01@mindx.com.vn
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - http01:
          ingress:
            class: nginx
